#gaRes,
#scRes,
#secGen,
#resourceGroups,
#resourceLinks,
#ReutersHeadlines,
#GNewsHeadlines,
#UNHeadlines,
#treatyCategories,
#treatyTitles,
#treatyProfile,
#unLevel1,
#unLevel2,
#unLevel3,
#profileList,
#profileMap,
#profileFacts,
#profilePreview,
#ngoGroupList,
#ngoPreview,
#sourceWrapper,
#newsWrapper,
#searchWiki {
	width: 99.5%;
}

.card {
	max-width: 30em;
	max-height: initial !important;
}

#profilePreview,
#profileFacts,
#profileMap {
	height: 15em;
}

.ngoImg {
	width: auto;
}

#unLevel2,
#treatyTitles,
#profileFacts,
#sourceWrapper,
#GNewsHeadlines,
#scRes {
	border-bottom: 5px solid #333;
	border-top: 2px solid #333;
	box-shadow: 0 -3px #333;
}

#profilePreview,
#ngoPreview {
	height: auto;
	min-height: 13em;
}

#newsWrapper,
#sourceWrapper {
	height: auto;
	max-height: 25em;
}

.position {
	display: block !important;

	height: 2.5em;
	text-align: center;
	line-height: 2.5em;
	border-top: 2px solid #666;}

.position span {
	display: inline-block;
	height: 1em;
	width: 1em;
	background: #fff;
	border-radius: 50%;
	border: 2px solid #719abb;
	cursor: pointer;
}

.mobile .card .scroll[index="1"] + .position span:nth-child(1),
.mobile .card .scroll[index="2"] + .position span:nth-child(2),
.mobile .card .scroll[index="3"] + .position span:nth-child(3) {
	background: #719abb;
}

.mobile .card .scroll[index="1"] .section:first-child {
	margin-left: 0% !important;
}

.mobile .card .scroll[index="2"] .section:first-child {
	margin-left: -100% !important;
}

.mobile .card .scroll[index="3"] .section:first-child {
	margin-left: -200% !important;
}

.mobile #research-tool {
	padding-top: .5em;
}

#mission {
	max-width: none;
	padding: 1em 5%;
}

#contact {
	text-align: center;
}

#dash-title.links {
	text-align: left !important;
	padding-left: 8em !important;
}