/*
Dashboard
*/

#loggedout {
	text-align: center;
	margin-top: 3em;
	color: #333;
	font-weight: 500;
}

#cover {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#dash-title {
	margin: 0 auto 1em auto;
	padding: .8em .6em;
	font-weight: 600;
	font-size: 1.5em;
	width: calc(100% - 1em);
	text-align: center;
	word-break: break-all;
}

#navbar {
	display: block;
	margin: -4.7em 0 0 2em;
	text-align: left;
}

#navbar button {
	display: inline-block;
	height: 3.3em;
	width: 3.3em;
	background-color: #fff;
	border: 0;
	border-radius: 50%;
	background-size: 1.7em;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: .8;
	transition: .2s;
	background-position: center;
	outline: none;
	box-shadow: 0 1px 10px -5px;
}

body:not(.mobile) #navbar button:hover {
	opacity: 1;
}

#back-button {
	background-image: url(/img/back.svg);
}

#edit-button {
	background-image: url(/img/edit2.svg);
}

#delete-button {
	background-position: center;
	background-image: url(/img/trash.svg);
	background-size: 1.8em !important;
}

#info-button {
	background-position: .75em center !important;
	background-image: url(/img/info.svg);
	background-size: 1.8em !important;
}

#info-modal {
	position: fixed;
	top: 45%;
	left: 50%;
	width: 70%;
	max-width: 36em;
	transform: translate(-50%, -50%);
	padding: 2em 3em 2em;
	background: #eee;
	z-index: 2;
}

#info-modal a {
	text-decoration: none;
	color: #0774d3;
	font-weight: 500;
}

#info-modal h3 {
	text-align: center;
	font-size: 1.6em;
	margin: 0 0 .8em 0;
}

#authorize-button {
	display: block;
	margin: 0 auto;
	padding: 1em;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 1em;
	margin-top: 2em;
	box-shadow: 0 2px 3px -2px;
	cursor: pointer;
	transition: .1s;
	font-weight: 500;
	color: #353535;
}

body:not(.mobile) #authorize-button:hover {
	box-shadow: 0 2px 10px -2px;
}

#authorize-button::before {
	content: '';
	width: 1.3em;
	height: 1.3em;
	padding-right: 2.1em;
	margin-right: 1em;
	border-right: 1px;
	display: inline-block;
	vertical-align: middle;
	background: url(/img/google.svg);
	background-size: 1.3em 1.3em;
	background-position: left;
	background-repeat: no-repeat;
	box-shadow: 1px 0 #bbb;
}

#folders,
#links {
	list-style: none;
	padding: 0;
	text-align: center;
}

#folders.loading::before {
	content: "Loading content...";
	display: block;
	padding: 2em;
	font-size: 1.3em;
	font-weight: 500;
}

#links.dragging {
	border: dashed 4px #ffffff;
	background-color: rgba(131, 145, 255, 0.27);
}

#add-folder,
#add-link {
	display: inline-block;
	margin: .7em 1em;
	height: 4em;
	width: 4em;
	border-radius: 50%;
	vertical-align: middle;
	background-image: url(/img/add.svg);
	background-repeat: no-repeat;
	background-size: 1.5em;
	background-position: center;
	background-color: #fff;
	cursor: pointer;
	opacity: .8;
	transition: .2s .2s, width .2s, opacity .2s;
}

body:not(.mobile) #add-folder:hover,
body:not(.mobile) #add-link:hover {
	opacity: 1;
}

#essentials,
.folder {
	display: inline-block;
	margin: .7em;
	width: 10em;
	height: 9em;
	line-height: 9em;
	background: url(/img/folder.svg);
	background-repeat: no-repeat;
	background-size: 10em;
	background-position: 0;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	word-wrap: break-word;
}

.folder.dragging {
	opacity: .8;
}

.folder.dragging::before {
	content: "";
	display: block;
	position: absolute;
	width: 10em;
	height: 9em;
	border: dashed 4px #fff;
}

.folder-text {
	display: inline-block;
	line-height: normal;
	vertical-align: bottom;
	padding: 0 .5em;
	max-width: 100%;
	min-width: 80%;
	position: relative;
	top: -.7em;
	cursor: text;
	outline: none;
}

.link-text {
	display: block;
	width: 100%;
	outline: none;
}

body:not(.mobile) #essentials:hover,
body:not(.mobile) .folder:hover {
	animation: shake .5s;
}

#link-edit,
#add-folder.adding-folder,
#add-link.adding-link,
#folder-edit {
	transition: .2s, width 1s;
	opacity: 1;
	background-image: none;
	border-radius: 0;
	position: fixed;
	top: 35%;
	left: 50%;
	width: 60%;
	height: 3.5em;
	max-width: 30em;
	min-width: 18em;
	transform: translate(-50%, -50%);
	z-index: 3;
	overflow: hidden;
	cursor: initial;
}

#add-folder.adding-folder #folder-details {
	display: block !important;
}

#folder-details input,
#folder-edit input {
	display: inline-block;
	margin: 0;
	vertical-align: top;
	width: 80%;
	border: 0;
	height: 3.5em;
	font-size: 1em;
	padding-left: 1em;
	border-right: 2px solid #555;
}

#folder-edit button,
#folder-details button,
#link-details button,
#link-edit button {
	display: inline-block;
	margin: 0;
	vertical-align: top;
	width: 20%;
	border-radius: 0;
	border: 0;
	background-color: #444;
	height: 3.9em;
	font-size: .9em;
	color: #fff;
	cursor: pointer;
	transition: .2s;
}

body:not(.mobile) #folder-edit button:hover,
body:not(.mobile) #folder-details button:hover,
body:not(.mobile) #link-details button:hover {
	background-color: #4e4e4e;
}

.pdf,
.link {
	display: inline-block;
	vertical-align: top;
	margin: .7em;
	width: 10em;
	min-height: 7em;
	padding-bottom: 1em;
	background-repeat: no-repeat;
	background-size: 12em;
	border-radius: 3px;
	color: #333;
	font-weight: 500;
	background-color: #ECF0F1;
	border-radius: 3px;
	word-wrap: break-word;
	box-shadow: 0 0 10px -4px #387198;
}

.pdf {
	box-shadow: 0 0 10px -4px #b52d1f;
}

.link-menu {
	display: block;
	text-align: right;
	background-color: #546A79;
	padding: .5em;
	margin-bottom: .5em;
	border-radius: 3px 3px 0 0;
}

.pdf .link-menu {
	display: block;
	text-align: right;
	background-color: #d94b3d;
	padding: .5em;
	margin-bottom: .5em;
	border-radius: 3px 3px 0 0;
}

.link .link-menu::before {
	content: "WEB";
	float: left;
	color: #3e5361;
	font-size: .9em;
}

.pdf .link-menu::before {
	content: "PDF";
	float: left;
	color: #a53a30;
	font-size: .9em;
}

.link-menu button,
.link-menu a {
	display: inline-block;
	border: 0;
	border-radius: 50%;
	height: 2.5em;
	width: 2.5em;
	margin: .2em;
	cursor: pointer;
	outline: none;
	background-size: 1.5em;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.editUrl {
	background-color: #4FBA6E;
	background-image: url(/img/edit.svg);
}

.link-menu a.openUrl {
	background-color: #EFC41A;
	background-image: url(/img/link.svg);
	height: 1.88em;
	width: 1.88em;
	background-size: 1.1em;
}

.removeUrl {
	background-color: #ED7161;
	background-image: url(/img/delete.svg);
}

#add-link.adding-link,
#link-edit {
	height: 10.5em;
}

#add-link {
	margin: 2em 1em;
}

#add-link.adding-link #link-details {
	display: block !important;
}

#link-details input,
#link-edit input {
	display: block;
	width: 100%;
	margin: 0;
	border: 0;
	height: 3.5em;
	font-size: 1em;
	padding-left: 1em;
	border-bottom: 2px solid #555;
}

#link-details button,
#link-edit button {
	width: 100%;
}

#link-edit {
	background-color: #fff;
}